body{
    background-color: #F45DAA;
}

html{
    scroll-behavior: smooth;
}

h1{
    color: beige;
    text-align:center;
    padding: 1%;
}

header{
    width: 100%;
}

.logo{
    text-align: center;
    color:aliceblue;
    font-size: 1.5em;
}
  
nav{
    text-align: center;
    color:beige
    font-size: 1.5em;
    
}

.barbielogo{
    float: right;
    width: 40%;
}

.banner{
    width: 100%;
}

.container{
    background-color: #F45DAA;
    width: 80%;
    margin: auto;
}

footer{
    background-color:#F45DAA
    width: 100%;
    text-align: center;

}

p{
    color:beige;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    padding-left: 3%;
    line-height: 1.5em;
    font-size: 1.1em;

}

h2{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 1%;
    padding-top: 1%;
    font-family: 'Lobster', cursive;

}

li{
    padding-top: 1%;
    padding-bottom: 1%;
}