body{
    background-color: #F45DAA;
}
h1{
    color:#F45DAA;
    text-align:center;
}

header{
    width: 100%;
}
.logo{
    text-align: center;
    color:aliceblue;
    font-size: 1.5em;
}
nav{
    text-align: center;
    color:#F45DAA;
    font-size: 1.5em;
}
.banner{
    width: 100%;
}

.container{
    background-color:beige;
    width: 80%;
    margin: auto;
}

footer{
    background-color:beige;
    width: 100%;
}